{{> header }}
<div class="page search body">
    
    <form class='replyform2'>
        <textarea class="message"></textarea>
        <button class="submitform">verzenden</button>
    </form>
</div>
{{> footer }}