{{> header }}
<div class="body">
    
    <div class="page favorites">
        <h1>Hallo <span id="username"></span>!</h1>
        <span class="inbox">inbox</span>
        <span class="sent">sent</span>
        <div class="inboxmessages"></div>
        <div class="sentmessages"></div>
        <div class="replyform">
            <form>
                <textarea class="message"></textarea>
                <button class="submitreply">beantwoord</button>
            </form>
        </div>
    </div>
</div>
{{> footer }}
