{{> header }}
<div class="page favorites">
    <div class="body">
    <h1>Hallo <span id="username"></span>!</h1>
    <h1>Uw favorieten</h1>
    <div class="listfavorites clearfix">
    </div>
    </div>
</div>
{{> footer }}