{{> header }}
<div class="page home">
    <h1>Hallo <span id="username"></span>!</h1>
    <div class="body">
        
        <div class="visibleStudent">
           <div id="tindergame">
            
            </div>
            <div class="buttons"><div class='dislikeButton'>No</div><div class='likeButton'>Yes</div></div>
        </div>
        
        
        
        <div class="visibleKotbaas">
            <div class="yourkoten"></div>
        </div>
    </div>
</div>
{{> footer }}