{{> header }}
<div class="page login">
    <h1>Log in!</h1>
    <div class="body">
        <form class="loginform">
            <label>Email adres</label>
            <input type="email" class="emaillogin">
            <label>wachtwoord</label>
            <input type="password" class="passwordlogin">
            <div class='question'>wachtwoord vergeten?</div>
           <button class="loginbutton">verstuur</button>
        </form>
        <form class="forgotpassword">
         <label>email</label>
            <input type='email' class="forgotpassmail">
            <button class="forgotpass">vraag nieuw wachtwoord</button><br><br><br><br>
        </form>
        <h1>Nieuwe account</h1>
        <form class="create">
            <label>Naam</label>
            <input type="text" class="name">
            <label>Student of Kotbaas?</label>
            <select class="type">
                <option value="kotbaas" id="kotbaas">kotbaas</option>
                <option value="student" id="student">student</option>
            </select>
            
            <div id="onlystudent">
                
                <label>Straat (campus)</label>
                <input type="text" class="straat">
                <label>Huisnummer (campus)</label>
                <input type="number" class="huisnummer">
                <label>Postcode (campus)</label>
                <input type="number" class="postcode">
                <label>Stad (campus)</label>
                <input type="text" class="stad">
            </div>
            
            <label>Email adres</label>
            <input type="email" class="emailcreate">
            <label>Telefoonnummer</label>
            <input type="number" class="telephone">
            <label>Password</label>
            <input type="password" class="passwordcreate">
            <button class="createbutton">verstuur</button>
        </form>
    </div>
</div>
{{> footer }}
