{{> header }}
<div class="page search">
    <h1>Hallo <span id="username"></span>!</h1>
    <div class="body">
        <div class="filter">
        
        </div>
        <div class="kotlist"></div>
        
        
    </div>
</div>
{{> footer }}