{{> header }}

<div class="page verwijderen">
    <h1>Hallo <span id="username"></span>!</h1>
    <h1>verwijder een kot?</h1>
    <div class="body">
        
        <div class="visibleStudent">
           <div id="tindergame">
            <p>dont see this
               </p>
            </div>
        </div>
        
        
        
        <div class="visibleKotbaas">
            <div class="yourkoten"></div>
        </div>
    </div>
</div>

{{> footer }}