@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css"
// Generic styling
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "./colors"
@import "./page"
@import "./header"
@import "./footer"


// pages
@import "./about"
@import "./toevoegen"
@import "./login"
@import "./verwijderen"
@import "./search"
@import "./bewerken"
@import "./kotdetail"
@import "./favorites"

body
    font-size: 12px
    margin: 0 auto
    background: white
    min-height: 100vh
    font-family: 'Open Sans', sans-serif
    #app
        height: 100%
        position: relative
    #map
        top: 0
        bottom: 0
        width: 500px
        height: 200px
        text-align: initial
        margin: 0 auto
.visibleStudent
    display: none;
.visibleKotbaas
    display: none;
    
.kotimage
    width: 450px
    height: 325px
    object-fit: cover
.contentkot
    position: relative
    width: 30%
    float: left
    margin-bottom: 60px 
    
#tindergame
    .contentkot
        float: none
        margin: 0 auto
    
.addreskot
    background: white;
    border: 6px solid $main-color
    width: 60%
    padding: 12px
    position: absolute;
    top: 220px
    right: 0%
.likeButton, .dislikeButton
    width: 100px
    float: left
    height: 100px;
    border: 6px solid $main-color
    font-size: 3em
    color: $main-color
    box-sizing: border-box
    padding-top: 20px
    text-align: center
    margin: 25px
.buttons
    width: 300px;
    margin: 0 auto
.kotdetail
    img
        width: 25%
        height: 250px;
        object-fit: cover
        
    .info
        width: 100%
       
table
    background:white
    border-collapse: none
    border-spacing: 0;
    border: 3px solid #E22
    margin: 0 auto
    margin-bottom: 40px
    tr
        td
            padding: 15px 30px
            text-align: left;
            margin: 0;
            color: #777;
            &:first-child
                font-weight: 800
                border-right: 3px solid #E22
#fb-share-button 
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    transition: all 0.3s ease

#fb-share-button
    &:hover 
        cursor: pointer;
        background: #213A6F


#fb-share-button 
    svg 
        width: 18px;
        fill: white;
        vertical-align: middle;
        border-radius: 2px


#fb-share-button 
    span 
        vertical-align: middle;
        color: white;
        font-size: 14px;
        padding: 0 3px
        
.messagebutton 
    background: $main-color;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    transition: all 0.3s ease

.messagebutton
    &:hover 
        cursor: pointer;
        background: #d63e3e

.messagebutton 
    span 
        vertical-align: middle;
        color: white;
        font-size: 14px;
        padding: 0 3px
        
.messageform
    width: 100%
    max-width: 600px
    margin: 60px auto
    margin-bottom: 100px
    display: none
.inboxmessages
    display: block;
.sentmessages
    display: none;
    
.replyform
    display: none
    position: fixed
    width: 300px
    right: 50px
    bottom: 50px
// general


