@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css"
// Generic styling
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "./colors"
@import "./page"
@import "./header"
@import "./footer"


// pages
@import "./about"
@import "./toevoegen"
@import "./login"
@import "./verwijderen"
@import "./search"
@import "./bewerken"
@import "./kotdetail"
@import "./favorites"

body
    font-size: 12px
    margin: 0 auto
    background: white
    min-height: 100vh
    font-family: 'Open Sans', sans-serif
    #app
        height: 100%
        position: relative
    #map
        top: 0
        bottom: 0
        width: 100%
        height: 400px
        text-align: initial
        margin: 0 auto
.visibleStudent
    display: none;
.visibleKotbaas
    display: none;
    
.kotimage
    width: 100%
    height: 325px
    object-fit: cover
.contentkot
    position: relative
    width: 100%
    float: none
    margin-bottom: 60px 
    
#tindergame
    .contentkot
        float: none
        margin: 0 auto
    
.addreskot
    background: white;
    border: 6px solid $main-color
    width: 60%
    padding: 12px
    position: absolute;
    top: 220px
    right: 0%
.likeButton, .dislikeButton
    width: 100px
    float: left
    border: 6px solid $main-color
    font-size: 1.2em
    color: $main-color
    box-sizing: border-box
    text-align: center
    margin: 25px
    padding: 10px 0px
.buttons
    width: 300px;
    margin: 0 auto
.kotdetail
    img
        width: 100%
        height: 250px;
        object-fit: cover
        
    .info
        width: 100%
       
table
    background:white
    border-collapse: none
    border-spacing: 0;
    border: 3px solid #E22
    margin: 0 auto
    margin-bottom: 40px
    tr
        td
            padding: 15px 30px
            text-align: left;
            margin: 0;
            color: #777;
            &:first-child
                font-weight: 800
                border-right: 3px solid #E22
#fb-share-button 
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    transition: all 0.3s ease

#fb-share-button
    &:hover 
        cursor: pointer;
        background: #213A6F


#fb-share-button 
    svg 
        width: 18px;
        fill: white;
        vertical-align: middle;
        border-radius: 2px


#fb-share-button 
    span 
        vertical-align: middle;
        color: white;
        font-size: 14px;
        padding: 0 3px
        
.messagebutton, .favoritebutton 
    background: $main-color;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    transition: all 0.3s ease

.messagebutton, .favoritebutton
    &:hover 
        cursor: pointer;
        background: #d63e3e

.messagebutton, .favoritebutton 
    span 
        vertical-align: middle;
        color: white;
        font-size: 14px;
        padding: 0 3px
        
.messageform
    width: 100%
    max-width: 600px
    margin: 60px auto
    margin-bottom: 100px
    display: none
.inboxmessages
    display: block;
.sentmessages
    display: none;
    
.replyform
    display: none
    position: fixed
    width: 300px
    right: 50px
    bottom: 50px
    

#map
    width: 100%
    height: 300px
    
.header
    min-height: 45px
.login
    min-height: 820px
    
.hamburger
    img
        width: 30px
        float: right
.fullnav
    transition: all 0.4s ease
    position: fixed
    float: left
    left: 100%;
    top: 0
    height: 100vh;
    overflow: none;
    width: 100vw
    background: $main-color
    z-index: 999999999;
    .closenav
        float: right;
        width: 50px
    nav
        ul
            li
                display: block
                margin: 40px
                text-align: left;
                font-size: 1.8em
                
.editpage
    min-height: 1800px
    
input[type="file"]
    border: none;
input, textarea, select
    border-radius: 30px
    width: 95%
// general
.filter
    input
        display: inline-block;
        width: 120px
    select
        display: inline-block;
        width: 120px
    label
        display: block
        margin-bottom: 12px

.message
    p
        width: 25%
        float: left
        height: 90px
        box-sizing: border-box
        padding: 20px 10px
        margin-bottom: 35px
        background: $main-color
        font-weight: 800
        color: white
    .contentmessage
        width: 75%
    .reply
        width: 100%
        float: none
        margin-bottom: 70px
        background: none;
        color: $main-color
.sent
    font-weight: 800
    color: $main-color
    text-decoration: underline
    font-size: 1.6em
    
.inbox
    font-weight: 800
    color: $main-color
    text-decoration: underline
    margin-right: 60px
    font-size: 1.6em
.filterknop
    float: none
    display: block
    margin: 20px auto
.clearfix:after 
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

.clearfix  
    display: inline-block; 
/* start commented backslash hack \*/
* html .clearfix  
    height: 1%; 
.clearfix  
    display: block; 
/* close commented backslash hack */

.error
    width: 150px
    height: 20px
    border: 6px solid $main-color;
    display: inline-block
    margin-bottom: 25px
    padding-top: 7px
    transition: all 0.4s ease;
    transform: scale(0)
    color: $main-color
.mapboxgl-popup-close-button
    display: none
@media screen and (min-width: 900px)
    
    .contentkot
        position: relative
        margin-left: 3%
        float: left
        width: 30%
        margin-bottom: 60px 
    .fullnav
    
        transition: all 0.4s ease
        position: static
        float: none
        left: 100%;
        top: 0
        height: auto
        overflow: none;
        width: auto
        background: $main-color
        z-index: 999999999;
        .closenav
            display: none
        nav
            ul
                li
                    display: inline
    .hamburger
        display: none
    .kotdetail
        img
            width: 700px
            height: 500px
    .inboxmessages, .sentmessages
        width: 50%
        margin: 0 auto
    .forgotpassword
        display: none
    .loginform, .create, .editform, .addform, .forgotpassword
        width: 35%;
        margin: 0 auto;
        margin-bottom: 160px