<section class="header">
    <h1 class="logo">Kotter</h1>
    <div class="hamburger"></div>
    <div class="navigationstudent">
        <nav>
            <ul>
                <li><a href="/#/">home</a></li>
                <li><a href="/#/">search</a></li>
                <li><a href="/#/favorites">favorites</a></li>
                <li><a href="/#/">chat</a></li>
                <li><a href="/#/about">about</a></li>
                <li><a href="/#/login">login</a></li>
                <li><a href="#" id="logout">logout</a></li>

            </ul>
        </nav>
    </div>
    <div class="navigationkotbaas">
        <nav>
            <ul>
                <li><a href="/#/">home</a></li>
                <li><a href="/#/bewerken">bewerken</a></li>
                <li><a href="/#/verwijderen">verwijderen</a></li>
                <li><a href="/#/toevoegen">toevoegen</a></li>
                <li><a href="/#/">chat</a></li>
                <li><a href="/#/login">login</a></li>
                <li><a href="#" id="logout2">logout</a></li>
            </ul>
        </nav>
    </div>
    <script>
        

    </script>
</section>
