<section class="header">
    <h1 class="logo">Kotter</h1>
    <div class="hamburger">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Menu%2C_Web_Fundamentals_%28White%29.svg/2000px-Menu%2C_Web_Fundamentals_%28White%29.svg.png">
    </div>
    <div class="fullnav">
        <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/VisualEditor_-_Icon_-_Close_-_white.svg/2000px-VisualEditor_-_Icon_-_Close_-_white.svg.png" class='closenav'></div>
        <div class="navigationstudent">
            
            <nav>
                <ul>
                    <li><a href="/#/">home</a></li>
                    <li><a href="/#/search">search</a></li>
                    <li><a href="/#/favorites">favorites</a></li>
                    <li><a href="/#/chat">chat</a></li>
                    <li><a href="#" id="logout">logout</a></li>

                </ul>
            </nav>
        </div>
        <div class="navigationkotbaas">
            <nav>
                <ul>
                    <li><a href="/#/">home</a></li>
                    <li><a href="/#/bewerken">bewerken</a></li>
                    <li><a href="/#/verwijderen">verwijderen</a></li>
                    <li><a href="/#/toevoegen">toevoegen</a></li>
                    <li><a href="/#/chat">chat</a></li>
                    <li><a href="#" id="logout2">logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script>


    </script>
</section>
